@import "tailwindcss";

/* // custom base style using tailwind Layer */
@layer base {
  body {
    @apply bg-black text-white relative font-sans h-screen overflow-x-hidden;
  }
}

.protected_by_digits {
  display: none;
}

.protected_by_digits_text {
  display: none;
}

#digits_protected span {
  display: none;
}
